{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <section class="contact-section section-padding" id="section_3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 mx-auto">
                    <h2 class="text-center mb-4">Inscription - Question</h2>
                        <p class = "text-center">Les champs avec (*) sont obligatoire</p>
                        {% if user.type == 1 %}
                            <p class = "text-center">Pour que les éléves puissent se projeter dans votre métier, parlez nous de ce qui est le plus passionnant dans votre métier</p>
                        {% else %}
                            <p class = 'text-center'>Pour que les professionnels puissent mieux vous connaître, parlez nous de votre projet professionnel</p>
                        {% endif %}
                        <p class = "text-center">Cette question </p>
                        <form class = "custom-form">
                            <div class = "container">
                                {{ form_errors(questionForm) }}
                                {{ form_start(questionForm) }}
                                    {{form_row(questionForm.question) }}
                                    <button type="submit" class="btn btn-primary">Envoyer</button>
                                {{ form_end(questionForm) }}
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
