<IfModule mod_rewrite.c>
    Options -Indexes

    RewriteEngine On

    # Force HTTPS et www
    RewriteCond %{HTTP:X-Forwarded-Proto} !https
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    RewriteCond %{HTTP_HOST} !^www\.
    RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Réécriture vers index.php si la requête n'est pas un fichier ou un répertoire réel
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Inclure les routes de l'application Symfony
    RewriteRule ^ index.php [QSA,L]
</IfModule>
