{% extends 'base_back.html.twig' %}

{% block title %}Ajout numéro étudiant{% endblock %}

{% block body %}
    <div class = "container">
        {% include 'flash_message.html.twig' %}
        <h1 class = "text-center mt-4 mb-4">Ajouter un numéro étudiant</h1>
        {{ form_start(form) }}
            <div class = "row">
                <div class = "col-6">{{form_row(form.numero)}}</div>
                <div class = "col-6">{{form_row(form.type)}}</div>
            </div>
            <button type = "submit" class = "btn btn-primary">Ajouter le numéro étudiant</button>
        {{form_end(form)}}
    </div>   
{% endblock %}