{% extends 'base.html.twig' %}
{% block title %}Organisation{% endblock %}
{% block body %}
    <section class = "section-padding">
        <div class = "container">
            <h1 class = "text-center">Organisation</h1>
            <hr class = "my-4">
            <h2>Avant les speeds meetings</h2>
            <p>
                Les étudiants auront la possibilité de consulter la liste des professionnels présents lors des speeds meetings, et de choisir 
                les 6 professionnels avec lesquels ils souhaitent discuter. Ils pourront également consulter les informations sur les professionnels 
                (métier, parcours, compétences requises, etc.) pour préparer leurs questions.
            </p>
            <p>
                De leur côté, les professionnels auront la possibilité de consulter les informations sur les étudiants (formation, compétences, projets, etc.), 
                pour préparer leurs questions qui souhaiteraient poser aux étudiants.
            </p>
            <h2>Pendant les speeds meetings</h2>
            <p>
                Les speed meetings sont organisés en deux parties : 
                <ul>
                    <li>La première partie se passera sous forme de question réponse. Les étudiants auront 10 minutes d'interaction avec les 
                        professionnels pour poser des questions sur le métier, le parcours, les compétences requises, etc. Cette partie durera 1 heure,
                        et les étudiants pourront rencontrer 6 professionnels différents.
                    </li>
                    <li>La deuxième partie se passera sous forme de quartier libre. Les étudiants auront 30 minutes pour discuter avec les 
                        professionnels autour d'un goûter. 
                    </li>
                </ul> 
        </div>
    </section>
{% endblock %}